.LogoArea {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.textCima {
    font-size: 25px;
    font-weight: lighter;
    color: #A643C9;
    margin: 0;
    line-height: 1;
}

.textBaixo {
    font-size: 30px;
    font-weight: bold;
    color: #82389c;
    margin: 0;
    position: relative;
    top: -10px;
    line-height: 1;
}


@media (max-width: 480px) {
    .textCima {
        font-size: 20px; 
    }
    
    .textBaixo {
        font-size: 24px;
    }
}