.background {
    width: 100%;
    min-height: 100vh;
    padding: 25px;
    background-color: #eee;
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza os itens horizontalmente */
  }
.container{
    width: 1100px;
    padding: 0 10px;
}